#app{font-family:Avenir,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#2c3e50;margin-top:60px}.panel{margin-top:2em}
/*# sourceMappingURL=app.dc2d4af518d19d46e88add1a149d4066.css.map */